
.thinkingcleanerdevice .unit {
  color: #888888;
  margin-left: 0.1em;
}
#index li.thinkingcleanerdevice div.controls {
  float: right;
  max-width: 100%;
  margin: 0;
  overflow: hidden;
  margin-top: -4px;
  margin-bottom: -4px;
  text-align: right;
  white-space: normal;
}

#index li.thinkingcleanerdevice div.controls .ui-controlgroup{
  display: inline-block;
  margin: 0;
  margin-left: 4px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 0.8em;
}

#index li.thinkingcleanerdevice div.controls .ui-group-theme-a{
  border-radius: 2em
}

#index li.thinkingcleanerdevice div.controls .ui-controlgroup .ui-btn{
  padding-left: 8px;
  padding-right: 8px;
}
